---
const pageTitle = "About me"

const identity = {
    firstName: 'Manases',
    country: 'Domincan Republic',
    occupation: 'Software Developer',
    hobbies: []
}

const mainTechSkills = ['ASP .NET Core / C#', 'Javascript', 'Typescript', 'React', 'Express']
const otherTechSkills = ['Nestjs', 'Astro', 'Angular']
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <nav>
            <ul>
                <a href="/">Home</a> -
                <a href="/about">About</a> -
                <a href="/blog">Blog</a>
            </ul>
        </nav>

        <h1>{pageTitle}</h1>
        
        <ul>
            <li>My name is {identity.firstName}</li>
            <li>I live in {identity.country} and I work as a {identity.occupation}</li>
        </ul>
        <h3>Main Tech Skills</h3>
        <ul>
            {
                mainTechSkills.map( skill => <li>{skill}</li>)
            }
        </ul>
        <h3>Other Tech Skills</h3>
        <ul>
            {
                otherTechSkills.map( skill => <li>{skill}</li>)
            }
        </ul>
      </body>
</html>