---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About me"

const identity = {
    firstName: 'Manases Lovera',
    country: 'Domincan Republic',
    occupation: 'Software Developer',
    hobbies: []
}

const mainTechSkills = ['ASP .NET Core / C#', 'Javascript / Typescript', 'React', 'Express']
const otherTechSkills = ['Nestjs', 'Astro', 'Angular']

// Styles
const skillColor = "navy";
const fontWeight = "bold";
---
<style define:vars={{skillColor, fontWeight}}>
    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    </ul>
    <h3>Main Tech Skills</h3>
    <ul>
        {
            mainTechSkills.map( skill => <li class="skill">{skill}</li>)
        }
    </ul>
    <h3>Other Tech Skills</h3>
    <ul>
        {
            otherTechSkills.map( skill => <li class="skill">{skill}</li>)
        }
    </ul>
</BaseLayout>
        
